@keyframes scale {
  from {
    opacity: 0.2;
    transform: scale(0.3);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.board {
  @apply grid grid-cols-3;
  & > button > span {
    animation: scale 0.15s ease-out;
  }
  & > button:nth-child(3n + 1) {
    @apply border-l-0;
  }
  & > button:nth-child(3n) {
    @apply border-r-0;
  }
  & > button:nth-child(-n + 3) {
    @apply border-t-0;
  }
  & > button:nth-last-child(-n + 3) {
    @apply border-b-0;
  }
}
